@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply text-foreground bg-background antialiased;
    font-family: var(--font-poppins-sans, sans-serif);
  }

  input,
  textarea,
  button {
    @apply font-normal text-base;
  }

  :focus {
    @apply outline-none shadow-focus;
  }
}

@layer utilities {
  .shadow-focus {
    box-shadow: 0 0 0 2px #7b2cbf;
  }
}
