@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: var(--font-poppins-sans, sans-serif);
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #f5f5f5;
  --black: #070707;

  --blue-light: #5b6dda;
  --blue-primary: #2741dd;
  --blue-dark: #0a155a;

  --red: #ab222e;

  --gray-100: #e1e1e6;
  --gray-200: #c4c4cc;
  --gray-300: #a9a9b3;
  --gray-400: #8d8d99;
  --gray-500: #7c7c8a;
  --gray-600: #323238;
  --gray-700: #202024;
  --gray-800: #121214;
}

@layer base {
  :root {
    --background: var(--white);
    --foreground: var(--black);
    --card: var(--white);
    --card-foreground: var(--gray-700);
    --popover: var(--white);
    --popover-foreground: var(--black);
    --primary: var(--blue-primary);
    --primary-foreground: var(--white);
    --secondary: var(--gray-200);
    --secondary-foreground: var(--gray-800);
    --muted: var(--gray-100);
    --muted-foreground: var(--gray-500);
    --accent: var(--gray-300);
    --accent-foreground: var(--gray-700);
    --destructive: var(--red-danger);
    --destructive-foreground: var(--white);
    --border: var(--gray-400);
    --input: var(--blue-light);
    --ring: var(--blue-primary);
    --radius: 0.5rem;
  }

  .dark {
    --background: var(--gray-700);
    --foreground: var(--white);
    --card: var(--black);
    --card-foreground: var(--white);
    --popover: var(--gray-800);
    --popover-foreground: var(--white);
    --primary: var(--blue-primary);
    --primary-foreground: var(--white);
    --secondary: var(--gray-600);
    --secondary-foreground: var(--white);
    --muted: var(--gray-500);
    --muted-foreground: var(--gray-400);
    --accent: var(--gray-500);
    --accent-foreground: var(--gray-300);
    --destructive: var(--red-danger);
    --destructive-foreground: var(--white);
    --border: var(--blue-light);
    --input: var(--blue-light);
    --ring: var(--blue-primary);
    --radius: 0.5rem;
  }
}
